doctype html
head
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  script(src='javascripts/libs/easeljs-0.7.0.min.js')
  script(src='javascripts/libs/jquery/dist/jquery.min.js')
  script(src='javascripts/libs/preloadjs-0.6.0.min.js')
  script(src='javascripts/libs/jquery.qtip.min.js')
  script(src='javascripts/libs/tipped-4.2.8-light/js/tipped/tipped.js')
  script(src='javascripts/controller.js')
  script(src='javascripts/setupStage.js')
  script(src='javascripts/gameWorld.js')
  script(src='javascripts/Model/level.js')
  script(src='javascripts/assetManagemenetSingleton.js')
  script(src='javascripts/utils/assetManagment.js')
  script(src='javascripts/towers/fireTower.js')
  script(src='javascripts/towers/arrowTower.js')
  script(src='javascripts/towers/poisonTower.js')
  script(src='javascripts/towers/TowerFactory.js')
  script(src='javascripts/ui.js')
  script(src='javascripts/uiSingleton.js')
  script(src='javascripts/playerSingleton.js')
  script(src='javascripts/model/levelSingleton.js')
  script(src='javascripts/player.js')
  script(src='javascripts/enemies/heroEnemy.js')
  script(src='javascripts/enemies/enemyFactory.js')
  script(src='javascripts/projectiles.js')
  script(src='javascripts/enemyUnloader.js')

body

  canvas#gameCanvas(width='1024' , height='768')
