doctype html
head
  script(src='javascripts/libs/easeljs-0.7.0.min.js')
  script(src='javascripts/libs/jquery/dist/jquery.min.js')
  script(src='javascripts/controller.js')
body
  canvas#gameCanvas(width='300' , height='300')